@use "extends/_extends_dir";

main {
    @include box(100%,80vh);
    @extend .flexCenter;

    #list {
        @include box(400px,65vh);
        border-radius: 20px 20px;
        overflow: hidden;
        box-shadow: rgb(204, 219, 232) 0px 0px 6px 0px, rgba(255, 255, 255, 0.5) 0px 0px 6px 1px;

        #listHeader {
            @include box(100%,5%);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color:$headerColor;
            background-color: $headerBckground;

            h2 {
                margin-left: 5%;
            }
        }

        #listContainer {
            @include box(100%,auto);
        }

        #listAdd {
            @include box(100%,5%);
            @extend .flexCenter;
            margin-top: 2%;

            #listAddButton {
                height:100%;
                cursor: pointer;
                transition: 0.3s;
            }
            #listAddButton:hover {
                transform: scale(125%);
            }
        }
    }

    #addTask {
        display:none;
        @include box(85%,65vh);
        border-radius: 20px 20px;
        overflow:hidden;
        box-shadow: rgb(204, 219, 232) 0px 0px 6px 0px, rgba(255, 255, 255, 0.5) 0px 0px 6px 1px;

        #addTaskHeader {
            @include box(100%,5%);
            color:$headerColor;
            background-color: $headerBckground;
            display:flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 5%;
            padding-right: 5%;

            #addTaskClose {
                height:100%;
                cursor:pointer;
                transition:0.3s;
            }

            #addTaskClose:hover {
                transform: scale(125%);
            }
        }

        #addTaskForm {
            @extend .flexCenterColumn;
            @include box(100%);

            input {
                margin-bottom: 3%;
            }

            #inputError {
                color:red;
                margin-bottom: 3%;
            }

            button {
                @include box(15%,5%);
                border:solid 1px $color2;
                box-shadow: rgb(204, 219, 232) 0px 0px 6px 0px, rgba(255, 255, 255, 0.5) 0px 0px 6px 1px;
                border-radius: 20px;
                cursor:pointer;
                transition:0.3s;
            }

            button:hover {
                transform: scale(110%);
            }
        }
    }
}